footer {
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  height: 100px;            /* Adjust this value as needed */
  /*background-color: #f8f9fa;*/
}

.footer-buttons {
  display: flex;
  gap: 20px;  /* Adds space between the buttons */
}

/*footer button {
  padding: 1px 2px;
  font-size: 16px;
  cursor: pointer;
}*/
